#p1 {
color: #7c142e
}
/* "#" (hashgtag) Always means target */
/* We can't use the same id for different html elements, but we use class when 
we have more than one element we want to apply the same css style. */
p {
color:rgb(68, 147, 147)
}
p {
background-color:rgb(222, 221, 221)
}
span {
font-weight: bold;
}
#s1 {
color:rgb(68, 147, 147)
}
#s2 {
background-color:#e0adba;
}
#s3 {
background-color:#e0adba;
}
#s4 {
background-color:#ade0c6;
}