* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

nav {
    justify-content: center;
    background-color: black;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
}

.layout {
    max-width: 800px;
    width: 90%;
    margin: 48px auto;
}

.layout h1 {
    font-size: 64px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

@media screen and (max-width: 460px) {
    nav {
        background-color: rgb(121, 48, 188);
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    .layout {
        font-size: 44px;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
}