* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

#layout {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 10px solid #2b93c0;
    padding: 10px;
}

.cropped-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

.cropped-grid-gallery img {
    height: 100%;
}