@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 60px;
  margin: -11.8%;
  color: rgb(255, 255, 255);
}
.fascinate-regular2 {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 35px;
  color: rgb(53, 125, 188);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 50%;
    max-width: 9000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#s1 {
    background-color: #9abcd8e5;
    padding: 200px;
    text-align: center;
    color: white;
}

#img1 {
    transform: rotate(-15deg);
}

#img2 {
    transform: rotate(15deg);
}

#img3 {
    transform: rotate(-10deg);
}

#img4 {
    transform: rotate(20deg);
}

a {
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    color: rgb(53, 125, 188);
    font-size: 18px;
    font-weight: bolder;
}

#s2 .single-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#i1 {
    background-color: whitesmoke;
}
#i2 {
    background-color: rgb(243, 108, 171);
    display: flex;
    align-items: flex-end;
}
#i3 {
    background-color: rgb(2, 45, 21);
    display: flex;
    align-items: flex-end;
}
#i4 {
    background-color: rgb(224, 37, 37);
}
#i1 #i3 {
    margin-left: auto;
    display: block;
    display: flex;
    align-items: flex-end;
}

#s3 .single-column {
    text-align: center;
    display: inline-block;
}



.fascinate-regular3 {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 30px;
  color: rgb(167, 163, 163);
  display: inline-block;
  text-align: center;
}

.fascinate-regular4 {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 30px;
  color: rgb(124, 31, 90);
  display: inline-block;
}

.fascinate-regular5 {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 30px;
  color: rgb(30, 66, 38);
  display: inline-block;
}

.fascinate-regular6 {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 30px;
  color: rgb(79, 34, 34);
  display: inline-block;
}

.sbs {
    display: flex;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: left;
    padding: 150px;
}

.sbs2 {
    background-color: rgb(243, 108, 171);
    display: flex;
    align-items: center;
    text-align: left;
    padding: 150px;
}

.sbs3 {
    background-color: rgb(108, 154, 129);
    display: flex;
    align-items: center;
    text-align: left;
    padding: 150px;
}

.sbs4 {
    background-color: rgb(165, 117, 117);
    display: flex;
    align-items: center;
    text-align: left;
    padding: 150px;
}