@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 60px;
  margin: -11.8%;
  color: rgb(255, 255, 255);
}
.fascinate-regular2 {
  font-family: "Fascinate", system-ui;
  font-style: normal;
  font-size: 35px;
  color: rgb(53, 125, 188);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 50%;
    max-width: 9000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
#s1 {
    background-color: #9abcd8e5;
    padding: 200px;
    text-align: center;
    color: white;
}

#img1 {
    transform: rotate(-15deg);
}

#img2 {
    transform: rotate(15deg);
}

#img3 {
    transform: rotate(-10deg);
}

#img4 {
    transform: rotate(20deg);
    margin: 0px 2px 0px 20px;
}

a {
    padding: 30px;
    display: inline-block;
    text-decoration: none;
    color: rgb(53, 125, 188);
    font-size: 18px;
    font-weight: bolder;
}

#s2 .single-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#i1 {
    display: grid;
    background-color: whitesmoke;
    padding: 150px 0px 0px 0px;
}
#i2 {
    display: grid;
    background-color: rgb(224, 164, 96);
    padding: 159px 0px 0px 0px;
}
#i3 {
    display: grid;
    background-color: rgb(2, 45, 21);

}
#i4 {
    display: grid;
    background-color: rgb(224, 37, 37);
}