#t1-p1 {
    color: green;
}
#s1 {
    color: #F711F7;
}
#s2 {
    color: #F711F7;
}
#s3 {
    color: red;
}
#s4 {
    color: goldenrod;
}
#s5 {
    color: blue;
}
#t4-s1 {
    background-color: skyblue;
}
#s6 {
    background-color: yellow;
}
#s7 {
    font-weight: bold;
}
#s8 {
    font-weight: bold;
}
#s9 {
    font-weight: bold;
}
#s10 {
    font-style: italic;
}
#s11 {
    text-decoration: underline;
}
#s12 {
    text-decoration: underline;
}
#fh-1 {
    font-size: 36px;
}
#t10-p {
    text-align: center;
}
#t10-e {
    font-size: 12px;
    font-weight: bold;
}
#t10-fh {
    font-size: 48px;
}
#t10-fsh {
    font-size: 24px;
    font-style: italic;
}
