* {
    box-sizing: border-box
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

#layout {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.horizontal-masonry-gallery img {
    height: 250px;
    flex: 1;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 25px;
}

.vertical-masonry-gallery img {
    margin-bottom: 25px;
}