

img {
    width: 100%;
}

.two-col {
    display: flex;
    width: 80vw;
    max-width: 1280px;
    margin: 0px auto;
}

#sidebar {
    width: 250px;
    order: 2;
}

#main {
    flex: 1;
    order: 1;
}