* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(153, 187, 217);
}

.single-column {
    width: 50%;
    max-width: 9000px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.layout {
    background-color: rgb(198, 223, 245);
    padding: 35px 40px 35px 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

img {
    width: 100%;
}

.s1 {
    margin: 60px;
}

#image1 {
    width: 4000px;
}

#image2 {
    width: 4000px;
}

.s2 {
    display: flex;
    margin-top: 60px;
}

.p1 {
    margin-bottom: 0px;
    font-size: 14px;
}

.p2 {
    margin-top: 5px;
    font-size: 15;
}

#vs {
    margin-top: 70px;
    font-weight: bold;
    font-size: 20px;
}

.s3 {
    margin-top: 45px;
}

.s3 h4 {
    margin-bottom: 25px;
}

.p1s3 {
    margin-top: 30px;
}

.buttons {
    display: flex;
    margin-left: 130px;
}

.btn {
    text-decoration: none;
    color: #5b367d;
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.border {
    border: 2px solid;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

.small {
    font-size: 12px;
}

h1 {
    color: rgb(29, 81, 126);
}

p {
    color: rgb(31, 74, 110);
}

h3 {
    color: rgb(59, 101, 138);
}

h4 {
    color: rgb(68, 116, 157);
}