#p1 {
    width: 200px;
    margin: 80px 0px 0px 80px;
    padding: 35px;
    border: solid 8px;
    border-color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 2px 2px 10px 1px;
    display: inline-block;
}
#p2 {
    width: 170px;
    margin: 80px 0px 0px 80px;
    padding: 35px;
    border: solid 8px;
    border-color: rgb(0, 0, 0);
    background-color: white;
    box-shadow: 2px 2px 10px 1px;
    display: inline-block;
}
#t1 {
    width: 300px;
    font-family: 'Courier New', Courier;
    text-align: center;
    margin: 0px 0px 0px 80px;
    padding: 20px;
    border: solid 8px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(222, 221, 221);
    box-shadow: 0px 2px 18px 1px;
    display: inline-block;
}
#p3 {
    width: 170px;
    border-radius: 50%;
    margin: 100px 0px 0px 80px;
    padding: 35px;
    border: solid 8px;
    border-color: rgb(116, 0, 0);
    background-color: white;
    box-shadow: 2px 2px 10px 1px;
}
