* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

header #top-lvl {
    background: linear-gradient(to bottom, green, #3e6e3e);
    display: flex;
}

#top-lvl a {
    text-decoration: none;
    color: white;
    padding: 24px;
}

nav #logo {
    margin-right: auto;
}

nav #logo img {
    width: 200px;
}