.color-palette {
    text-align: center;
    box-shadow: 6px 6px 15px;
    margin: 140px;
    padding: 24px;
}
.color {
    margin: 0px;
    padding: 24px;
}
#p1-c1 {
    background-color: #4DA1A9;
}
#p1-c2 {
    background-color: #D7E8BA;
}
#p1-c3 {
    background-color: #611C35;
}
#p2-c1 {
    background-color: #F5EE9E;
}
#p2-c2 {
    background-color: #F49E4C;
}
#p2-c3 {
    background-color: #AB3428;
}
#p3-c1 {
    background-color: #EBC3DB;
}
#p3-c2 {
    background-color: #C09BD8;
}
#p3-c3 {
    background-color: #9F84BD;
}