* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(232, 230, 230);
}

.recipe-cards {
    display: flex;
    gap: 10px;
}

.recipe-cards img {
    width: 100%;
}

.heading {
    text-align: center;
    margin: 100px;
    font-size: 10px;
}

.single-column {
    width: 50%;
    max-width: 90vh;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.recipe-intro {
    display: flex;
    gap: 30px;
    margin-bottom: 36px;
    margin-top: 50px;
    align-items: center;
}

img {
    width: 100%;
    object-fit: cover;
}

.content .times .p .h1 {
    display: flex;
    gap: 25px;
    align-items: center;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin: 0px 220px 0px 0px;
    background-color: black;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
}

.wide .btn {
    text-align: center;
    display: block;
}

.hr1 {
    margin-top: 150px;
}