* {
    box-sizing: border-box
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(227, 227, 227);
}

img {
    width: 100%;
    object-fit: cover;
}

#layout {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
}

.layout h1 {
    margin-top: -480px;
    text-align: center;
    color: rgb(234, 231, 231);
    font-size: 80px;
    text-shadow: 10px 10px 18px #020000;
}

.layout img {
    height: 900px;
}

.gallery {
    margin-top: 450px;
    columns: 2 auto;
    column-gap: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.gallery img {
    margin-bottom: 25px;
    height: 600px;
    border-radius: 50px;
    box-shadow: 0px 10px 60px 10px #d2b6b6;
}